/* frontend/styles/styles.css */

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.vaadin-app-layout vaadin-drawer-toggle {
    color: var(--lumo-body-text-color);
}

.vaadin-app-layout[theme~="dark"] vaadin-drawer-toggle {
    color: var(--lumo-body-text-color);
}

.vaadin-drawer-toggle {
    color: var(--lumo-body-text-color);
}

.vaadin-vertical-layout span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--lumo-body-text-color);
}

.router-link {
    display: block;
    width: 100%;
}

.navigation-link:active,
.navigation-link:focus {
    background-color: var(--lumo-primary-color-10pct);
    color: var(--lumo-primary-color);
}

.map-component {
    width: 100%;
    height: 100%;
}

.dokument-table {
    width: 100%;
}

.zaehlerstand-table {
    width: 100%;
}

#map {
    height: calc(100vh - 500px);
}

.stat-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background: var(--lumo-base-color);
    width: 100%;
    margin: 10px;
    text-align: center;
}